<nav class="navbar">
    <span class="title">Admin</span>
    <span class="spacer"></span>
    <div class="menu">
      <a routerLink="/user-management" class="menu-item" (click)="onUse()">User Management</a>
      <a routerLink="/request-management" class="menu-item"(click)="onReq()">Request Management</a>
      <a routerLink="/tables-content" class="menu-item"(click)="onTab()">Tables Content</a>
      <a routerLink="/login" class="menu-item logout-button" (click)="onLogout()">Logout</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
