<div class="container">
  <label class="selected-table-label" for="tableSelect">Selected Table: {{selectedTable}}</label>
  
  <table *ngIf="selectedTable" class="styled-table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData" (click)="onRowSelect(row)" class="table-row">
        <td *ngFor="let column of columns">
          {{ column.type === 'date' ? (row[column.name] | date: 'yyyy-MM-dd') : row[column.name] }}
        </td>
    </tbody>
  </table>

  <div class="edit-form" *ngIf="columns.length > 0">
    <h3>Edit Row</h3>
    <form (ngSubmit)="onSave()" #form="ngForm">
      <div *ngFor="let column of columns">
        <label [for]="column.name">{{ column.name }}</label>
        <input 
          [id]="column.name" 
          [(ngModel)]="selectedRow[column.name]" 
          [name]="column.name"
          [type]="getInputType(column.type)"
          #inputField="ngModel"  
          [required]="column.type !== 'date'" 
          [minlength]="column.type === 'text' ? 3 : null" 
          [maxlength]="column.type === 'text' ? 50 : null" 
          [attr.pattern]="column.type === 'number' ? '^[0-9]*$' : null" 
        />
        <!-- Show validation error messages -->
        <div *ngIf="inputField.invalid && inputField.touched">
          <small *ngIf="inputField.errors?.['required']">This field is required</small>
          <small *ngIf="inputField.errors?.['minlength']">Minimum length is 3 characters</small>
          <small *ngIf="inputField.errors?.['maxlength']">Maximum length is 50 characters</small>
          <small *ngIf="inputField.errors?.['attr.pattern']">Please enter a valid number</small>
        </div>
      </div>
      
      <div class="buttons">
        <button 
          type="button" 
          [ngClass]="{'btn-red': !hasPrivilege('canUpdate'), 'btn-green': hasPrivilege('canUpdate')}"
          (click)="onUpdate()"
          [disabled]="form.invalid"> <!-- Disable button if form is invalid -->
          Update
        </button>
        <button 
          type="button" 
          [ngClass]="{'btn-red': !hasPrivilege('canDelete'), 'btn-green': hasPrivilege('canDelete')}"
          (click)="onDelete()">
          Delete
        </button>
        <button 
          class="add-button" 
          type="button" 
          (click)="addTableData()" 
          [ngClass]="{'btn-red': !hasPrivilege('canWrite'), 'btn-green': hasPrivilege('canWrite')}"
          [disabled]="form.invalid"> <!-- Disable button if form is invalid -->
          Add New
        </button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
